:root {
	--blue: #2726a4;
	--black: #030313;
	--white: #ffffff;
	--main-color: #094758;
	--grey: #c6c6cf;
	--red: #A50104;
	--nunito: Nunito;
	--open-sans: "Open Sans";
	--poppins: "Poppins";
	--luckiest-guy: "Luckiest Guy";
}

*,
::before,
::after,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	outline: 0;
	line-height: 1.5;
	box-sizing: border-box;
	scroll-behavior: smooth;
	transition: padding linear .5s,
				transform ease-in-out .5s;
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: var(--nunito);
	font-size: 1.15rem;
    font-weight: 100;
}

h1 {
    margin-bottom: .25rem;
    font-size: 1.749690125em;
    font-weight: 700;
}

header {
    padding-top: .1rem;
    padding-bottom: .1rem;
    z-index: 1024;
}

a {
	text-decoration: none;
}

p {
	margin-top: 0.5rem;
}

img {
	-o-object-fit: cover;
	-o-object-position: center;
	object-fit: cover;
	object-position: center;
	max-width: 100%;
}

input,
button,
textarea {
	-webkit-border-radius: 0;
	border-radius: 0;
	border: none;
	outline: none;
}

input:not(input[type="checkbox"]) {
	-webkit-appearance: none;
}

input, 
button,
textarea,
.nav-link-icon,
.fi-rr-copyright,
.breadcrumb-indicator {
	font-size: 1rem;
}

button {
	cursor: pointer;
}

textarea {
	resize: vertical;
}

footer {
	background-color: #f0f0f0;
}

.flex {
	display: -ms-flexbox;
	display: flex;
}

.grid {
	display: -ms-grid;
	display: grid;
}

.flex-column {
	-ms-flex-direction: column;
	flex-direction: column;
}

.flex-wrap {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.align-center {
	-ms-flex-align: center;
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.place-center {
	place-items: center;
}

.place-content-center {
	place-content: center;
}

.gap-1 {
	grid-gap: 1rem;
	gap: 1rem;
}

.gap-2 {
	grid-gap: 2rem;
	gap: 2rem;
}

.gap-half {
	grid-gap: 0.5rem;
	gap: 0.5rem;
}

.d-block {
	display: block;
}

.d-none {
	display: none;
}

.d-inline {
	display: inline;
}

.relative {
	position: relative;
}

.absolute,
.nav-toggle-icon::before,
.nav-toggle-icon::after {
	position: absolute;
}

.fixed {
	position: fixed;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
}

.text-center {
	text-align: center;
}

.w-100 {
	width: 100%;
}

.fr {
	top: calc(1.5rem - 1.3rem);
	font-size: 1.2rem;
}

.red {
	color: var(--red);
}

.blue {
	color: var(--blue);
}

.main-color,
.pagination-link:hover,
.pagination-link.active {
	color: var(--main-color);
}

.white,
.nav-link:hover,
.nav-link.nav-link-active,
.dropdown-link:hover,
.dropdown-link.dropdown-link-active,
.search-btn:hover {
	color: var(--white);
}

.black {
	color: var(--black);
}

.grey-color {
	color: var(--grey);
}

.border-7 {
	border-radius: 0.7rem;
}

.border-5 {
	border-radius: 0.5rem;
}

.round {
	border-radius: 50%;
}

.list-style-none {
	list-style-type: none;
}

.main-bg,
.nav-link:hover,
.nav-link-active,
.dropdown-link:hover,
.dropdown-link-active,
.search-btn,
.to-top,
.submit-btn,
input[type="checkbox"] {
	background-color: var(--main-color);
}

.bg-white {
	background-color: var(--white);
}

.bg-black,
.nav-toggle-icon::before,
.nav-toggle-icon::after {
	background-color: var(--black);
}

.input,
.nav-link {
	padding: .7rem 1rem;
}

.border-top-grey {
	border-top: 1px solid var(--grey);
}

.border-bottom-grey {
	border-bottom: 1px solid var(--grey);
}

.link:hover {
	text-decoration: underline;
}

.shadow,
.comment:hover {
	box-shadow: 5px 6px 20px 0 rgba(0 0 0 / 5%);
}

.header {
	font-family: var(--poppins);
	font-weight: 600;
}

.post-title,
.footer-header {
	font-family: var(--luckiest-guy);
	font-weight: 100;
}

.nav-link-icon:not(.search-btn .nav-link-icon),
.fi-rr-copyright {
	top: calc(1.5rem - 1.34rem);
}

.mt-1 {
	margin-top: 1rem;
}

.mt-2 {
	margin-top: 2rem;
}

.mb-1 {
	margin-bottom: 1rem;
}

.mb-2 {
	margin-bottom: 2rem;
}

.breadcrumb-indicator {
    top: .3rem;
}